<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns		= "http://www.w3.org/ns/widgets"
		xmlns:gap	= "http://phonegap.com/ns/1.0"
		id 			= "com.chasev.chatter"
		versionCode = "1"
		version		= "1.0.0" >
		
		<name>Chatter</name>

		<description>The Chat App</description>

		<author href = "https://csvernon.github.io/UpdatedPortfolio/" email = "csvernon@ncsu.edu">
			Chase Vernon
		</author>

		<preference name = "orientation" value = "portrait"/>
<gap:plugin name="cordova-plugin-whitelist" source="npm" />
<access origin="*" />
<allow-navigation href="*" />
<allow-intent href="*" />
		</widget>
		